<?xml version="1.0"?>
<launch>

	<arg name="visual_input" default="false"/>
	<arg name="live_camera" default="false"/>
	<arg name="models_path" default="false"/>

	<group if="$(arg visual_input)">

		<!-- launch xtion driver -->
		<include file="$(find manos_vision)/launch/asus_xtion.launch" if="$(arg live_camera)">
		</include>

		<!-- launch openpose -->
		<node pkg="openpose_ros" type="openpose_ros_node" name="openpose_ros_node" output="screen">
			<param name="image_topic"                value="/camera/rgb/image_raw" />
			<param name="input_image_transport_type" value="raw" />
			<param name="output_topic"               value="/openpose_ros/human_list" />
			<param name="display_output"             value="true" />
			<param name="print_keypoints"            value="false" />
			<param name="save_original_video"        value="false" />
			<param name="save_openpose_video"        value="false" />
			<param name="original_video_file_name"   value="original_video_output.avi" />
			<param name="openpose_video_file_name"   value="openpose_video_output.avi" />
			<param name="video_fps"                  value="30" />
		</node>
	
	</group>

	<node pkg="object_reaching" type="input_process.py" name='input_process' respawn='false' output='screen'>
	</node>

	<node pkg="object_reaching" type="prediction.py" name='prediction' respawn='false' output='screen' args='$(arg models_path)'>
		<rosparam command="load" file="$(find object_reaching)/config/prediction.yaml"/>
	</node>

	<node pkg="object_reaching" type="robot_motion" name='robot_motion' respawn='false' output='screen'>
		<rosparam command="load" file="$(find object_reaching)/config/object_reaching.yaml"/>
	</node>
	
	<node pkg="object_reaching" type="result.py" name='result' respawn='false' output='screen'>
	</node>
	
	<!--<node pkg="object_reaching" type="check_timestamps.py" name='check_timestamps' respawn='false' output='screen'>
	</node> -->

</launch>